.menubar{
    display: flex;
    background-color: #283593;
}

.navbardiv{
    padding: 25px;
    text-align: right;
}

.linkTag{
    padding: 20px;
    font-size: 20px; 
    font-weight: bolder;
    color: white
}

.logo{
    width: 200px;
    padding-left: 30px;
}

.offers{
    background-color: #f44336;
    padding: 1px;
    text-align: center;
    color: white;
}

.sliderDiv{
    display: flex;
    margin-bottom: 20px;
}

.mainslider{
    width: 900px;
}

.minislider{
    text-align: right;
    
}

.minisingle{
    margin-bottom: 40px;
}

.newArrivalsTag{
    background-color: #f44336;
    height: 50px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.arrivalsText{
    padding-top: 6px;
}

.newProducts{
    margin-left: 55px;
    text-align: center;
    width: 250px;
    font-size: 18px;
    float: left;
}

.price{
    color: #f44336;
    font-weight: bolder;
}

.productbutton{
    width: 180px;
    height: 40px;
    font-weight: bolder;
    font-size: 18px;
    background-color: #f44336;
    border: 1px solid #f44336;
    color: white;
    border-radius: 50px;
    margin-bottom: 20px;
}

.homeBannerDiv{
    clear: both;
}
.bannerText{
    clear: both;
    background-color: #283593;
    height: 50px;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.homeimage{
    margin-left: 25px;
    margin-top: 20px;
}

.homeSingle{
    margin: 25px;
}

.hightlight{
    display: flex;
}

.eachhightlight{
    width: 250px;
    text-align: center;
    font-weight: bolder;
    margin-left: 130px;
}