body {
    background-image: url("https://images8.alphacoders.com/101/thumb-1920-1011824.jpg");
    background-size: 100% 100%;
}

.font-size {
    font-size: 35px;
}

.bg-color {
    background-color: rgba(0, 0, 0, 0.5)
}