.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
}
/* Buttons css */
.btn {
  background: #61dafb;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  color: white;
  
  
}
.btnSetting {
  background: #90c7d6;
  margin-left: 80px;
  
}

.mt {
  margin-top: 30px;
}

.yellow {
  background: #ebab21;
}

.darkRed {
  background: #b31f1f;
}

.green {
  background: #3c6b1c;
}

.blue {
  background: #302b75;
}

.pink {
  background: #cc3dad;
}
.chocolate {
  background: #887f03;
}
.flex {
  display: flex;
}
/* Layout css */
.bg {
  background: #241f6e;
  width: 600px;
  height: 600px;
  margin-top: 30px;
  margin-left: 30px;
}

.image {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-left: 235px;
  margin-top: 100px; 
}
.white {
  color: white;
  text-align: center;
}

.buttons {
  margin-left: 200px;
  width: 100px;
  width: 100px;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
