body input {
	width: 1000px;
	height: 50px;
	text-align: center;
	font-size: 30px;
	margin-left: 150px;
	margin-top: 10px;
	border: 5px solid black;
}
.first_row {
	display: grid;
	grid-template-columns:  50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
	grid-template-rows:  50px;
	margin-left: 150px;
	margin-top: 20px;
	grid-gap: 46px;
}
#up_row {
	border: 2px solid black;
	background-color: black;
}
#del {
	text-align: center;
	color: white;
	border: 2px solid black;
	background-color: black;
}
.first_row h3 {
	color: white;
	text-align: left;
}
.second_row {
	display: grid;
	grid-template-columns:  50px 50px 50px 50px 50px 50px 50px 50px 50px 50px ;
	grid-template-rows:  50px;
	margin-left: 200px;
	margin-top: 20px;
	grid-gap: 46px;

}
.second_row h3 {
	color: white;
	text-align: left
}
.third_row {
	display: grid;
	grid-template-columns:  50px 50px 50px 50px 50px 50px 50px 50px 50px;
	grid-template-rows:  50px;
	margin-left: 250px;
	margin-top: 20px;
	grid-gap: 46px;
}
.third_row h3 {
	color: white;
	text-align: left;
}

.fourth_row {
	display: grid;
	grid-template-columns:  50px 50px 50px 50px 50px 50px 50px 50px ;
	grid-template-rows:  50px;
	margin-left: 300px;
	margin-top: 20px;
	grid-gap: 46px;
}
.fourth_row h3 {
	color: white;
	text-align: left;
}
.space_bar {
	height: 50px;
	width: 630px;
	margin-top: 20px;
	margin-left: 350px;
	background-color: black;
}
.special_button_black {
	display: grid;
	grid-template-columns: 90px 90px 90px 90px 90px;
	grid-template-rows: 50px ;
	grid-gap: 45px;
	margin-top: 40px;
	margin-left: 350px;
}
#down_row_black {
	border: 2px solid black;
	color: black;	
	text-align: center;
	font-size: 15px;
}
