.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.bgimg{
  background-image: url("https://cdn.shopify.com/s/files/1/0135/4542/t/3/assets/home-slider-slide-1.jpg?8");
}