.backG{
    background:gray;
    width:100%;
    height: 100%;
}

.fotterImg{
    width:150px;
    height:30px;
    float:left;
    /* margin:20px; */

}

.first{
    width:400px;
    text-align: left;
    margin-left:100px;
}

.logoImg{
    width:30px;
    height: 30px;
    margin: 20px;
    /* padding:10px; */
}

.second{
    width:400px;
    margin-left:400px;
    margin-top:-150px;
    text-align: left;
}

.third{
     width:400px;
    margin-left:800px;
    margin-top:-250px;
    text-align: left;
}

.fourth{
    width:400px;
   margin-left:1100px;
   margin-top:-250px;
   text-align: left;
}

.address{
    margin-top:-160px;
    margin-left:300px;
    text-align: right;
}