.button1 {
    background: blue;
    border-radius: 35%;
    margin-right: 20px;
}

.button2 {
    background:aqua;
    border-radius: 35%;
    margin-right: 20px;
}

.button3 {
    background:yellow;
    border-radius: 35%;
    margin-right: 20px;
}

.button4 {
    background: red;
    border-radius: 35%;
    margin-right: 20px;
}

.button5 {
    background: green;
    border-radius: 35%;
    margin-right: 20px;
}

.button6 {
    background: violet;
    border-radius: 35%;
    margin-right: 20px;
}

.button7 {
    background:pink;
    border-radius: 35%;
    margin-right: 20px;
}

.button8 {
    background: brown;
    border-radius: 35%;
    margin-right: 20px;
  }


  